[Unit]
Description = slackbot
After=network.target

[Service]
ExecStart=/opt/slackbot-on-rasberrypi/__run.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
